* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: large;
  font-weight: 600;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(20, 19, 19);
}

.main {
  width: 350px;
  background: rgb(243, 235, 235);
}

.displaySection {
  background: #858594;
  width: 100%;
  height: 60px;
  text-align: right;
  display: flex;
  justify-content: right;
  align-items: center;
  color: #fff;
  font-size: xx-large;
  padding-right: 6px;
}

.buttonRow {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-around;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  cursor: pointer;
  border: solid 1px #858594;
  width: 25%;
}

.zero {
  width: 50%;
}

.ops {
  background: #f5913e;
}
